.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input-search {
  flex: 1;
  text-align: start;
  margin: 1em 0.5em;
}

.input-search input {
  cursor: pointer;
  padding: 0.5em;
  border-radius: 5px;
  background: #ffffff;
  border: 1px solid #cac1c1;
}

.btn-add {
  margin: 1em 0.5em;
}

.btn-add button {
  cursor: pointer;
  background: #fad31f;
  border: none;
  padding: 0.8em 1.5em;
  border-radius: 5px;
  color: #070776;
  font-size: 14px;
}
